.container {
    display: grid;
    grid-template-rows: 50px 1fr 100px;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        "header header"
        "navbar sidebar"
        "footer footer";
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    grid-area: navbar;
    background-color: #f9f9f9;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    padding: 10px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #fff;
    overflow-y: auto;
    padding: 10px;
}

.footer {
    grid-area: footer;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}