.container {
    display: grid;
    grid-template-rows: 50px 1fr 100px;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        "h h"
        "n s"
        "f f";
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.header {
    grid-area: h;
    background-color: #e0f7fa;
    border-bottom: 1px solid #b2ebf2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #00796b;
    padding: 0 20px;
}

.navbar {
    grid-area: n;
    background-color: #f1f8e9;
    overflow-y: auto;
    border-right: 1px solid #dcedc8;
    padding: 10px;
    color: #558b2f;
}

.sidebar {
    grid-area: s;
    background-color: #ffffff;
    overflow-y: auto;
    padding: 10px;
    color: #616161;
}

.footer {
    grid-area: f;
    background-color: #e0f7fa;
    border-top: 1px solid #b2ebf2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: #00796b;
}